header{
    background-image: url(imagenes/DamasHeader.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
header h1{
    text-align: center;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

header nav a{
    color: white;
    padding: 20px 20px;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #CEECF2;
    margin: 0;
}

.ContenedorJugadoresTablero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#TableroDamas div{
    display: flex;
    flex-direction: row;
}

#TableroDamas{
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
    background-color: #035E73;
    border-radius: 5px;
    padding: 1vw;

}

section .contenedorJugadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
    border-radius: 5px;
    padding: 1vw;
    text-align: center;
}

#contenedor1{
    background-color: rgba(255, 0, 0, 0.459);
    box-shadow: 0 0 20px black;
}

#contenedor2{
    background-color: rgba(0, 128, 0, 0.541);
}
.fila{
    display: flex;
    flex-direction: row;
}

.CasillasNegras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    font-size: 1.5em;
    color: #BF9E75;
    background-color: rgba(29, 28, 28, 0.699);
}

.CasillasBlancas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    font-size: 1.5em;
    color: #BF9E75;
    background-color: rgba(252, 252, 252, 0.932);
}

.DamasRojas{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

.DamasVerdes{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: green;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

#Boton{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: #035E73;
    margin:0 40vw 0 40vw;
    border-radius: 5px;
    padding: 1vw;
    background-color: #46B5B6;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    text-align: center;
}

footer{
    background-color: white;
    padding: 10px;
    text-align: center;
}


/* MEDIAS QUERIES */
@media (max-width: 800px)
{
    .ContenedorJugadoresTablero{
        flex-direction: column;
    }
    div.contenedorJugadores{
        flex-direction: row;
        padding: 1vw;
    }
    #NombreJugador1, #NombreJugador2{
        padding-right: 2vw;
    }

    .CasillasNegras, .CasillasBlancas{
        width: 7vw;
        height: 7vw;
    }
}